[tools]
"rust" = { version = "1.92.0", profile = "default" }
"helm" = "4.0.1"
"yq" = "4.50.1"
"kubectl" = "1.34.2"
"kubeconform" = "0.7.0"
"k3d" = "5.8.3"
"tilt" = "0.36.0"
"grype" = "0.104.1"
"aqua:google/addlicense" = "1.2.0"
"cargo:cargo-llvm-cov" = "0.6.21"
"cargo:cargo-deny" = "0.18.9"

[vars]
chart_dir = "{{config_root}}/charts/stickerbomb"

[settings]
lockfile = true
auto_install = true
experimental = true
task_output = "quiet"
quiet = true

[tasks.build]
run = "cargo build --all"

[tasks.test]
description = "Run tests with coverage calculation"
run = "cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info"

[tasks.test-html]
description = "Run tests with coverage and generate HTML report"
run = "cargo llvm-cov --all-features --workspace --html"

[tasks.lint]
description = "Lints the codebase including the rust code and the helm chart."
env = { CHART_DIR = "{{vars.chart_dir}}" }
run = "bash scripts/lint.sh"

[tasks.helm-version]
hide = true
run = "yq eval -i \".appVersion = \\\"$(yq eval '.workspace.package.version' Cargo.toml)\\\"\" {{vars.chart_dir}}/Chart.yaml"
sources = ["Cargo.toml"]
outputs = ["{{vars.chart_dir}}/Chart.yaml"]

[tasks.generate-crds]
hide = true
env = { CRDS_DIR = "{{vars.chart_dir}}/crds", SCHEMA_DIR = "{{config_root}}/schemas" }
run = "cargo run --bin crdgen"

[tasks.update-helm]
alias = "uh"
description = "Updates the stickerbomb helm chart's application version and CRDs based on changes in the rust code."
depends = ["helm-version", "generate-crds"]

[tasks.dev]
alias = "d"
description = "Start development environment with k3d and Tilt"
run = "bash scripts/dev.sh"

[tasks.dev-down]
alias = "dd"
run = ["k3d cluster delete stickerbomb"]

[tasks.update-rust-version]
description = "Updates the Rust version in Cargo.toml and mise.toml based on rust-toolchain.toml"
run = [
    "sed -i '' -E 's/(^rust-version = \")[^\"]+(\")/\\1'\"$(yq eval '.toolchain.channel' rust-toolchain.toml)\"'\\2/' Cargo.toml",
    "sed -i '' -E 's/(^\"rust\" = \\{ version = \")[^\"]+(\".*)/\\1'\"$(yq eval '.toolchain.channel' rust-toolchain.toml)\"'\\2/' mise.toml",
]
